<div class="header-wrapper">
  <div class="brand-container brand-title">
    Syarik
  </div>

  <div class="nav-container">
    <div class="categories-section">
      <button class="btn-transparent" (click)="onClickNav('daily')" [ngClass]="isActive1 ? 'changeBackground' : ''">
        Tech Talks
      </button>
      <button class="btn-transparent" (click)="onClickNav('design')" [ngClass]="isActive2 ? 'changeBackground' : ''">
        Life
      </button>
      <button class="btn-transparent" (click)="onClickNav('tutorials')" [ngClass]="isActive3 ? 'changeBackground' : ''">
        Tutorials
      </button>
    </div>

    <div class="login-section">
      <button class="btn-filled">Login</button>
    </div>

    <div class="burger-menu-section">
      <i class="fa-solid" [ngClass]="burgerMenuClicked ? 'fa-xmark' : 'fa-bars'" (click)="openMobileMenu()"></i>
    </div>
  </div>
</div>

<ng-container *ngIf="burgerMenuClicked">
  <div class="mobile-menu-container">
    <div class="categories-mobile-section">
      <button class="btn-transparent" (click)="onClickNav('daily')" [ngClass]="isActive1 ? 'changeBackground' : ''">
        Tech Talks
      </button>
      <button class="btn-transparent" (click)="onClickNav('design')" [ngClass]="isActive2 ? 'changeBackground' : ''">
        Life
      </button>
      <button class="btn-transparent" (click)="onClickNav('tutorials')" [ngClass]="isActive3 ? 'changeBackground' : ''">
        Tutorials
      </button>
    </div>

    <div class="login-mobile-section">
      <button class="btn-filled">Login</button>
    </div>
  </div>
</ng-container>
