<div class="author-container d-flex flex-column">
  <div class="author-wrapper row g-0 d-flex">
    <div class="bio-field col-12 col-sm-8 d-flex order-1 order-sm-0">
     <div class="row g-0 d-flex flex-column flex-sm-row">
       <div class="col-12 col-sm-6 me-0 me-sm-2">
         Nama
       </div>

       <div class="col-12 col-sm-auto">
         {{authorData.name}}
       </div>
     </div>
    </div>

    <div class="picture-field col-12 col-sm-auto order-0 order-sm-1">
      foto
    </div>
  </div>

  <div class="article-author-wrapper row g-0 d-flex">
    <div class="col">
      article
<!--      <app-article></app-article>-->
    </div>
  </div>

  <div class="fab-create-article">

  </div>
</div>
