<div class="about-container">
  <div class="description-left order-1 order-sm-0">
    Syarik merupakan platform untuk berbagi dan belajar bersama untuk kita semua.
    Platform ini gratis, siapapun bisa berbagi ilmu dengan cara mendaftar terlebih dahulu.
  </div>

  <div class="picture-right order-0 order-sm-1">
    <img src="../../../../assets/syarik.png" class="picture-logo" alt="image-logo">
  </div>
</div>

<div class="button-container">
  <button class="custom-button-filled-danger" (click)="backToHome()">
    Kembali ke Homepage
  </button>
</div>


