<div class="footer-wrapper">
  <div class="subscribe-container">
    <div class="offering-section">
      <div class="title-field">
        Personally Newsletter
      </div>
      <div class="description-field">
        A bi-weekly newsletter of design inspiration, resources and anything related to career development.
      </div>
    </div>

    <div class="email-section">
      <input type="email" name="email" id="email" placeholder="Email address">
      <button class="btn-filled subs-btn">Subscribe</button>
    </div>
  </div>

  <div class="copyright-container">
    Copyright 2023 - Web Planets
  </div>
</div>
