.card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;

  .card-container {
    display: flex;
    justify-content: space-between;

    .text-section {
      max-width: 610px;
      margin-right: 20px;

      .date-field {
        font-size: 13px;
        color: #667085;
        font-weight: 400;
        margin-bottom: 30px;
      }

      .title-field {
        font-size: 26px;
        font-weight: 600;
        color: #1D2939;
        margin-bottom: 10px;
      }

      .description-field {
        font-size: 18px;
        font-weight: 400;
        color: #475467;
      }
    }

    .image-section {
      float: right;

      .images {
        max-width: 300px;
        max-height: 212px;
        border-radius: 10px;
      }
    }
  }
}
