<ng-container *ngIf="!dataLoaded; else showContent">
  <app-loader></app-loader>
</ng-container>

<ng-template #showContent>
  <div class="hero-wrapper">
    <div class="hero-container">
      <div class="label-section">
        👋 Meet Syarik
      </div>

      <div class="head-section">
        Minimal blog template for creative expressions
      </div>

      <div class="body-section">
        100% customisable and SEO-friendly blog template for personal and commercial purposes.
      </div>
    </div>
  </div>

  <div class="article-wrapper">
    <div class="article-container">
      <div class="category-section">
        <div class="title-field">
          Tech Talks
        </div>

        <div class="view-all-field">
          View all
        </div>
      </div>

      <div class="card-section">
        <app-card></app-card>
      </div>
    </div>
  </div>

  <div class="article-wrapper">
    <div class="article-container">
      <div class="category-section">
        <div class="title-field">
          Life
        </div>

        <div class="view-all-field">
          View all
        </div>
      </div>

      <div class="card-section">
        <app-card></app-card>
      </div>
    </div>
  </div>

  <div class="article-wrapper">
    <div class="article-container">
      <div class="category-section">
        <div class="title-field">
          Tutorial
        </div>

        <div class="view-all-field">
          View all
        </div>
      </div>

      <div class="card-section">
        <app-card></app-card>
      </div>
    </div>
  </div>
</ng-template>

