.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 970px;
    max-height: 366px;
    margin: 80px 0;

    .label-section {
      background-color: #F2F4F7;
      align-items: center;
      justify-content: center;
      max-width: 159px;
      border-radius: 100px;
      padding: 10px 16px;
      margin-bottom: 50px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }

    .head-section {
      text-align: center;
      font-weight: 700;
      font-size: 76px;
      background: -webkit-linear-gradient(97.1deg, #C41740 4.8%, #EA9C28 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
    }

    .body-section {
      text-align: center;
      font-weight: 400;
      font-size: 28px;
      color: #475467;
      max-width: 690px;
    }
  }
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F4F7;

  .article-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    .category-section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title-field {
        float: left;
        font-weight: 700;
        font-size: 26px;
        line-height: 24px;
        color: #1D2939;
      }

      .view-all-field {
        float: right;
        cursor: pointer;
        background-color: white;
        padding: 8px 12px;
        border-radius: 8px;
      }
    }

    .card-section {
      margin-top: 31px;
      display: flex;
    }
  }
}
