/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-weight: 600;
  color: var(--dark-grey);
  padding: 30px 0;
  width: 100%;
  max-width: 700px;
  z-index: 1;
  margin: 32px auto;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
  text-align: right;
  letter-spacing: 1px;
  position: relative;
  color: var(--dark-grey);
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "”";
  color: var(--dark-grey);
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: var(--dark-grey);
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}

.latest-article-section {
  h1 {
    margin: 24px 0;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
  }
}
