<!-- Quote Section -->
<div class="blockquote-wrapper">
  <div class="blockquote">
    <h1>
      Sebaik-baiknya manusia adalah yang paling bermanfaat bagi orang lain
    </h1>
    <h4>&mdash;HR. Ahmad</h4>
  </div>
</div>

<hr>

<!-- Latest Article Section -->
<div class="latest-article-section">
  <div class="latest-article-title">
    Posting Blok Terakhir
  </div>
  <app-latest-article></app-latest-article>
  <div class="button-field">
    <button class="custom-button-outline-danger">Lihat semua posting</button>
  </div>
</div>
