<div class="regis-wrapper">
  <div class="regis-container">
    <form [formGroup]="regisForm">
      <div class="picture-container">
        <img src="../../../assets/syarik.png" class="image" alt="tes">
      </div>

      <div class="name-field mt-4">
        <div class="text">
          Nama
        </div>

        <div class="value">
          <input
            type="text"
            [formControlName]="'nameRegis'"
            class="input-field"
            placeholder="Masukkan nama Anda"
            autocomplete="off">
        </div>
      </div>

      <div class="email-field">
        <div class="text">
          Email
        </div>

        <div class="value">
          <input
            type="text"
            [formControlName]="'emailRegis'"
            class="input-field"
            placeholder="Masukkan email Anda"
            autocomplete="off">
        </div>
      </div>

      <div class="dob-field">
        <div class="text">
          Tanggal Lahir
        </div>

        <div class="value">
          <input
            type="date"
            [formControlName]="'dobRegis'"
            class="input-field"
            autocomplete="off">
        </div>
      </div>

      <div class="password-field">
        <div class="text">
          Password
        </div>

        <div class="value">
          <input
            type="password"
            [formControlName]="'passwordRegis'"
            class="input-field"
            placeholder="Masukkan password Anda"
            autocomplete="off">
        </div>
      </div>

      <div class="button-field">
        <button class="custom-button-outline-danger" (click)="submitRegistration()">Daftar</button>
        <p>Sudah punya Akun? Masuk <span style="cursor: pointer; text-decoration: underline"
                                         (click)="changeRegistration()">&nbsp;di sini</span></p>
      </div>
    </form>
  </div>
</div>
