/* You can add global styles to this file, and also import other style files */
:root{
  --black: #222831;
  --dark-grey: #393E46;
  --grey: #EEEEEE;
  --grey-darker: #d4c7c7
  --green: #00ADB5;
}

html, body, app-root {
  background-color: var(--grey);
  height: 100%;
}

body {
  margin: 0
}

div {
  color: var(--dark-grey);
}
