@import './styles/template/button.scss';
@import "./styles/template/font.scss";

:root {
  // Font Color
  --black-title: #1E2834;
  --black-body: #1D2939;
  --black-footer: #475467;

  // Background
  --grey-bg: #F2F4F7;
}

html, body, app-root {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: var(--grey-bg);
  margin: 0
}

.btn {
  &-transparent {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &-filled {
    height: 44px;
    min-width: 97px;
    border-radius: 8px;
    background-color: var(--black-body);
    padding: 12px 14px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
  }
}

.angular-editor-textarea {
  height: 200px !important;
}
