:root{
  --dark-grey: #393E46;
  --blue-content: #EFFFFD;
  --white-darker: #cfdcda;
  --white: #fff;
  --green: #00ADB5;
}

html, body, app-root {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--white-darker);
  margin: 0
}

div {
  color: var(--dark-grey);
}
