.article-wrapper {
  :hover {
    cursor: pointer;
  }
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.article-container {
  .clickable-card {
    display: block;
    max-width: 400px;
    margin-inline: auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: none;
    background: var(--red-navbar);
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: white;

    h2,
    .read-more {
      transition: color 0.4s ease-in-out;
    }

    h2 {
      margin: 0 0 18px 0;
      font-size: 1.9rem;
      letter-spacing: 0.06em;
      transition: color 0.3s ease-out;
    }

    img {
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }

    :hover .read-more,
    :focus .read-more,
    :hover h2,
    :focus h2 {
      color: var(--white-darker);
    }

    :hover img,
    :focus img {
      transform: scale(1.1);
    }

    .article-wrapper {
      img {
        max-width: 100%;
      }

      figure {
        margin: 0;
        padding: 0;
        aspect-ratio: 16 / 9;
        overflow: hidden;
      }
    }

    .article-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 24px;
      color: white;

      .date-section {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 5px;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .article-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
