<ng-container *ngIf="!isRegisForm else registration">
  <div class="login-wrapper">
    <div class="login-container">
      <form [formGroup]="loginForm">
        <div class="picture-container">
          <img src="../../../assets/syarik.png" class="image" alt="tes">
        </div>

        <div class="email-field mt-4">
          <div class="text">
            Email
          </div>

          <div class="value">
            <input
              type="text"
              [formControlName]="'emailLogin'"
              class="input-field"
              placeholder="Masukkan email Anda"
              autocomplete="off">
          </div>
        </div>

        <div class="password-field">
          <div class="text">
            Password
          </div>

          <div class="value">
            <input
              type="password"
              [formControlName]="'passwordLogin'"
              class="input-field"
              placeholder="Masukkan password Anda"
              autocomplete="off">
          </div>
        </div>

        <div class="button-field">
          <button class="custom-button-filled-danger">Masuk</button>
          <p>Belum punya Akun? Registrasi <span style="cursor: pointer; text-decoration: underline"
                                                (click)="changeRegistration()">&nbsp;di sini</span></p>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<ng-template #registration>
  <div class="regis-wrapper">
    <div class="regis-container">
      <form [formGroup]="regisForm">
        <div class="picture-container">
          <img src="../../../assets/syarik.png" class="image" alt="tes">
        </div>

        <div class="email-field mt-4">
          <div class="text">
            Email
          </div>

          <div class="value">
            <input
              type="text"
              [formControlName]="'emailRegis'"
              class="input-field"
              placeholder="Masukkan email Anda"
              autocomplete="off">
          </div>
        </div>

        <div class="password-field">
          <div class="text">
            Password
          </div>

          <div class="value">
            <input
              type="password"
              [formControlName]="'passwordRegis'"
              class="input-field"
              placeholder="Masukkan password Anda"
              autocomplete="off">
          </div>
        </div>

        <div class="button-field">
          <button class="custom-button-outline-danger">Daftar</button>
          <p>Sudah punya Akun? Masuk <span style="cursor: pointer; text-decoration: underline"
                                           (click)="changeRegistration()">&nbsp;di sini</span></p>
        </div>
      </form>
    </div>
  </div>

</ng-template>

